<!DOCTYPE html>
  <html>
    <head>
      <title>LOGO</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <% if customer_signed_in? %>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to "LOGO",root_path,class:"navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show" id="navbarNavDropdown" style="">
          <ul class="navbar-nav ml-auto">
            <%= link_to"About",home_about_path,class:"fas fa-link nav-link text-light" %>
            <%= link_to"マイページ",customers_my_page_path,class:"fas fa-users nav-link text-light" %>
            <%= link_to"商品一覧",products_path,class:"fas fa-home nav-link text-light" %>
            <%= link_to"カート",cart_items_path,class:"fas fa-home nav-link text-light" %>
            <%= link_to"ログアウト",destroy_customer_session_path, method: :delete ,class:"fas fa-sign-out-alt nav-link text-light" %>
          </ul>
        </div>
      </div>
    </nav>
    <tr></tr>
    <th>
      <div class="container">
        <div class="row">
          <div class="col-auto mx-auto">
            </p>
          </div>
        </div>
      </div>
  <% else %>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to "LOGO",root_path,class:"navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show" id="navbarNavDropdown" style="">
          <ul class="navbar-nav ml-auto">
            <%= link_to"About",home_about_path,class:"fas fa-link nav-link text-light" %>
            <%= link_to"商品一覧",products_path,class:"fas fa-home nav-link text-light" %>
            <%= link_to"新規登録",new_customer_registration_path,class:"fas fa-user-plus nav-link text-light" %>
            <%= link_to"ログイン",new_customer_session_path,class:"fas fa-sign-in-alt nav-link text-light" %>
          </ul>
        </div>
      </div>
    </nav>

  <% end %>

  <%= yield %>
    </body>
  </html>
